In [11]:
import sys
import os
sys.path.append('/Users/syesw/Desktop/JL-Code_Project/athena')

In [12]:
from dotenv import load_dotenv
load_dotenv()

rqdata_username = os.getenv('RQDATA_USERNAME')
rqdata_password = os.getenv('RQDATA_PASSWORD')

In [13]:
from athena import Strategy, Backtest
from athena.data import SINGLE_ASSET_TEST_DATA, MULTIPLE_ASSETS_TEST_DATA, RiceQuantDataHandler

import pandas as pd

In [14]:
# 设置时间范围
start_date = '2020-01-01'
end_date = '2021-01-01'
asset_list = ['000651.XSHE', '399006.XSHE']

In [16]:
# 获取米筐数据rqdatac
rqdata = RiceQuantDataHandler(asset_list, start_date=start_date, end_date=end_date, fields=['open', 'high', 'low', 'close', 'volume'])
rqdata.auth(user=rqdata_username, pwd=rqdata_password)

In [19]:
backtest_data = rqdata.get_data_from_ricequant()
backtest_data

开始获取数据
数据获取完成
开始转换数据结构

           000651.XSHE                                        399006.XSHE  \
                  Open     High      Low    Close      Volume        Open
date
2020-01-02     48.8507  50.4052  48.7840  50.2646  46361443.0   1811.2197
2020-01-03     50.6199  50.8568  49.5243  49.6724  36870373.0   1836.8642
2020-01-06     49.4503  49.6502  48.1178  48.7692  46780255.0   1825.5516
2020-01-07     48.9839  50.0055  48.8581  49.8352  41076595.0   1866.2608
2020-01-08     49.3022  51.5749  49.3022  50.9308  48780896.0   1881.0093
...                ...      ...      ...      ...         ...         ...
2020-12-25     45.9756  45.9756  45.1708  45.3854  33872995.0   2811.5466
2020-12-28     45.3931  46.7268  44.9868  46.4509  47450431.0   2847.1203
2020-12-29     46.4662  47.3400  46.1826  46.6578  32934223.0   2838.7076
2020-12-30     46.6042  46.9644  46.2516  46.9644  34484268.0   2828.0141
2020-12-31     46.6655  47.8229  46.6042  47.4780  43939294.0   2911.3902


                 High        Low      Close        Volume
date
2020-01-02  1839.4101  1797.5424  1832.7416  2.952278e+09
2020-01-03  1842.5578  1821.6670  1836.0118  2.475063e+09
2020-01-06  1876.4645  1824.3456  1859.9209  3.390389e+09
2020-01-07  1893.2141  1866.2608  1893.2141  3.134184e+09
2020-01-08  1892.5765  1858.2839  1862.6992  2.940460e+09
...               ...        ...        ...           ...
2020-12-25  2841.5675  2793.7782  2840.8006  1.587654e+09
2020-12-28  2860.9954  2823.0034  2842.8101  1.954698e+09
2020-12-29  2843.7151  2795.6461  2812.9974  1.991086e+09
2020-12-30  2909.1884  2827.0667  2900.5375  1.779883e+09
2020-12-31  2969.7527  2909.6660  2966.2563  2.032763e+09

[243 rows x 10 columns]

In [33]:
'''
def get_data_from_ricequant(list, start_date, end_date, frequency='1d', fields=['close']):
    # 需要先验证rqdatac: rq.init('','')
    print("开始获取数据")
    asset_prices = rq.get_price(list, start_date=start_date, end_date=end_date, frequency=frequency, fields=fields)
    print("数据获取完成")

    asset_prices.reset_index(inplace=True)
    asset_prices['date'] = pd.to_datetime(asset_prices['date'])

    # 保留原始字段名称映射
    field_mapping = {field: field.capitalize() for field in fields}
    # 更新DataFrame的列名
    asset_prices.rename(columns=field_mapping, inplace=True)
    
    asset_prices.set_index('date', inplace=True)

    # 根据order_book_id和field循环创建新结构的数据字典
    new_structure_data = {}
    print("开始转换数据结构")

    for order_book_id in asset_prices['order_book_id'].unique():
        for _, new_field in field_mapping.items():
        #for field in fields:
            key = (order_book_id, new_field)
            new_structure_data[key] = asset_prices.loc[asset_prices['order_book_id'] == order_book_id, new_field].values
                
    new_structure_df = pd.DataFrame(new_structure_data, index=asset_prices.index.unique())
    
    return new_structure_df
'''