In [13]:
import sys
sys.path.append('/Users/syesw/Desktop/JL-Code_Project/athena')

In [14]:
from athena import Strategy, Backtest

import pandas as pd

In [15]:
MULTIPLE_ASSETS_DATA = pd.DataFrame(
    index=['2023-10-18', '2023-10-19', '2023-10-20'],
    data={
        ('AAA','Open'): [100.0, 200.0, 300.0],
        ('AAA','High'): [100.0, 200.0, 300.0],
        ('AAA','Low'): [100.0, 200.0, 300.0],
        ('AAA','Close'): [100.0, 200.0, 300.0],
        ('AAA','Volume'): [2000000, 2500000, 3000000],
        ('BBB','Open'): [2850.0, 2835.0, 2820.0],
        ('BBB','High'): [2860.0, 2835.0, 2825.0],
        ('BBB','Low'): [2840.0, 2805.0, 2800.0],
        ('BBB','Close'): [2840.0, 2815.0, 2810.0],
        ('BBB','Volume'): [1500000, 1700000, 1600000]
    }
)

In [16]:
MULTIPLE_ASSETS_DATA

              AAA                                   BBB                  \
             Open   High    Low  Close   Volume    Open    High     Low
2023-10-18  100.0  100.0  100.0  100.0  2000000  2850.0  2860.0  2840.0
2023-10-19  200.0  200.0  200.0  200.0  2500000  2835.0  2835.0  2805.0
2023-10-20  300.0  300.0  300.0  300.0  3000000  2820.0  2825.0  2800.0


             Close   Volume
2023-10-18  2840.0  1500000
2023-10-19  2815.0  1700000
2023-10-20  2810.0  1600000

In [17]:
class SingleAssetStrategy(Strategy):
    def init(self):
        print(self.symbols)

    def next(self, i, record):
        if i == 0:
            # 以当天的开盘价建立仓位
            self.open(symbol='AAA', price=record[('AAA','Open')], short=True)
            print(self.open_positions)
        if i == 2:
            self.close(symbol='AAA', price=record[('AAA','Open')])
            print(self.open_positions)
            print(self.trades)

In [18]:
backtest = Backtest(SingleAssetStrategy, MULTIPLE_ASSETS_DATA, commission=.001, cash=1000000)

In [19]:
res = backtest.run()

['AAA', 'BBB']
[Position(symbol='AAA', open_date='2023-10-18', last_date='2023-10-18', open_price=100.0, last_price=100.0, position_size=9990.00999000999, profit_loss=0.0, change_pct=0.0, current_value=999000.999000999, is_short=True)]
[]
[Trade(symbol='AAA', short=True, open_date='2023-10-18', close_date='2023-10-20', open_price=100.0, close_price=300.0, position_size=9990.00999000999, profit_loss=-1998001.998001998, change_pct=-200.0, trade_commission=3996.0039960039962, cumulative_return=-1001998.001998002)]